.trip-card {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(180deg, #f7f7f7 0%, #ffeee3 100%);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .journey-container{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px #ccc;
    transition: box-shadow 0.2s ease-in-out;
  }

  .journey-container:hover{
    box-shadow: 0px 0px 10px #ccc;
  }

  .activity-container{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(159, 165, 42);
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px #ccc;
    transition: box-shadow 0.2s ease-in-out;
  }

  .activity-container:hover{
    box-shadow: 0px 0px 10px #ccc;
  }

  li{
    list-style-type:none;
    padding: 0;
    margin-left: 10px;
  }