body{
  padding-top: 50px;
  background-color: #f0e1cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 800px; */
}


.butt-section {
  width: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section {
  width: 100%;
  margin: auto;
  border: 1px solid black;
  border-radius: 2%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eacea7;
}

.inputs {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: calc(50% - 10px);
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  font-size: 1rem;
  font-weight: bold;
  width: 30%;
  text-align: left;
  /* border: solid 1px #23527b; */
}

.input-group input {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .inputs {
    width: 100%;
  }
  form {
    justify-content: space-around;
  }
}

.Title{
  color: #23527b;
  margin-top: 0;
}

.contain-button{
  padding-left: 40%;
  padding-right: 40%;
}

.button {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4e86c9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color:  #5e9ad5;
}

.trip-card {
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eacea7;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
}

.journey-container{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #e28743;
}

.journey-container:hover{
  box-shadow: 0px 0px 10px #ccc;
}

.activity-container{
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#1e81b0;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.activity-container h3 {
  margin-top: 0;
  font-size: 18px;
  color: #fcfcfc;
}

.journey-container h3 {
  margin-top: 0;
  font-size: 18px;
  color:  #fcfcfc;
}

.activity-container p {
  font-size: 18px;
  color: #fcfcfc;
  margin-bottom: 5px;
}

.journey-container p {
  font-size: 18px;
  color: #fcfcfc;
  margin-bottom: 5px;
}

.trip-container {
  font-size: 20px;
  margin-bottom: 12px;
}

.tripP{
  margin-top: 5px;
  margin-bottom: 5px;
}

.journeyP{
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  margin-top: 3px;
  margin-bottom: 5px; 
  text-align: center;
}

.Tripbutton {
  height: 40px;
  width: 160px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4e86c9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Trip-butt{
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
}